.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 100%;
    margin: 0;
    padding: 2rem;
    background-color: #fff;
}

.loginForm h2 {
    margin-bottom: 1.5rem;
    text-align: left;
    font-family: 'Arial', sans-serif;
    color: rgb(51, 51, 51);
    width: 100%;
}

.inputContainer {
    position: relative;
    margin-bottom: 1.5rem;
    width: 100%;
}

.icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}

.eyeIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    cursor: pointer;
}

.loginInput {
    width: 100%;
    height: 45px;
    padding: 0.5rem 2.5rem 0.5rem 2.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

.loginInput:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
    outline: none;
}

.errorMessage {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    text-align: left;
    font-family: 'Arial', sans-serif;
}

.forgotPassword {
    margin-top: 0;
    align-self: flex-end;
    margin-bottom: 1.5rem;
    font-family: 'Arial', sans-serif;
    color: rgb(119, 124, 138);
    cursor: pointer;
    text-decoration: none;
}

.loginButtonContainer {
    width: 100%;
}

.loginButton {
    width: 100%;
    padding: 0.75rem 2.5rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(70, 77, 97);
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box;
}

.loginButton:hover {
    background-color: rgb(51, 51, 51);
}

.divider {
    display: flex;
    align-items: center;
    font-family: 'Arial', sans-serif;
    color: rgb(119, 124, 138);
    width: 100%;
    margin: 20px 0;
}

.line {
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
}

.orText {
    margin: 0 10px;
    font-size: 14px;
    color: #888;
    white-space: nowrap;
}

.googleButtonContainer {
    width: 100%; /* Ensures the container takes full width */
}

.googleButton {
    width: 100%; /* Makes the button full width */
    display: flex;
    align-items: center;
    justify-content: center; /* Centers the text and icon together */
    background-color: #fff;
    color: rgb(70,77,97);
    font-family: 'Arial', sans-serif;
    border: 2px solid rgb(191,193,196);
    padding: 0.75rem 2.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box; /* Ensures proper padding calculation */
    position: relative; /* Enables positioning of the icon */
}

.googleIcon {
    position: absolute; /* Allows free positioning within the button */
    left: 20px; /* Positions the icon 16px from the left edge of the button */
    width: 30px;
}
/* Add these styles to your CSS file */

.signUpContainer {
    text-align: center;
    margin-top: 1.5rem;
}

.noAccountText {
    font-family: 'Arial', sans-serif;
    color: rgb(119, 124, 138);
    margin-bottom: 1.5rem;
}

.signUpLink {
    font-family: 'Arial', sans-serif;
    color: rgb(70, 77, 97);
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.signUpLink:hover {
    text-decoration: underline;
}
