.forgotPasswordContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.forgotPasswordForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
}

.forgotPasswordForm h2 {
    margin-bottom: 1.5rem;
    text-align: left;
    font-family: 'Arial', sans-serif;
    color: rgb(51,51,51);
    width: 100%;
}

.inputContainer {
    position: relative;
    margin-bottom: 1rem;
    width: 100%;
}

.icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}

.forgotPasswordInput {
    width: 100%;
    padding: 0.5rem 2.5rem 0.5rem 2.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

.forgotPasswordInput:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
    outline: none;
}

.forgotPasswordButton {
    width: 100%;
    padding: 0.75rem 2.5rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(70,77,97);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box;
}

.forgotPasswordButton:hover {
    background-color: rgb(51,51,51);
}
